[data-dropdown-toggle] + .block {
  display: block;
}

[data-dropdown-toggle] + .hidden {
  display: none;
}
.block {
  display: block;
}
.nav-infor_item {
  cursor: pointer;
}
.nav-infor_item {
  cursor: pointer;
  border: none;
}
.nav-infor_item > svg:focus {
  outline: none;
  border: none;
}
.nav-infor_item > svg:hover {
  fill: red;
  stroke: #b88e2f;
}
.fa-bell {
  font-size: 28px;
}
