<nav
  class="z-50 items-center bg-white dark:bg-gray-900 sticky w-full top-0 start-0 border-b border-gray-200 dark:border-gray-600"
>
  <div
    class="bg-blue-800 flex flex-wrap items-center justify-center mx-auto p-4"
  >
    <p class="text-center text-white">
      CHIPPO Furniture offers free delivery & installation in Ho Chi Minh City,
      Hanoi, Bien Hoa and some areas in Binh Duong
    </p>
  </div>
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-3"
  >
    <a routerLink="/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="/assets/imgs/chippo.jpg" width="80" alt="Logo" />
      <span
        class="self-center text-4xl font-bold whitespace-nowrap dark:text-white"
        >CHIPPO</span
      >
    </a>
    <div
      *ngIf="!userResponse && !isLoggedIn"
      class="flex items-center md:order-3 order-3 space-x-3 md:space-x-0 rtl:space-x-reverse"
    >
      <button
        routerLink="/login"
        type="button"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Login
      </button>

      <button
        routerLink="/register"
        type="button"
        class="border-2 text-black bg-white hover:bg-blue-700 focus:outline-none focus:ring-4 hover:text-white focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2"
      >
        Sign Up
      </button>
    </div>
    <div
      *ngIf="userResponse || isLoggedIn"
      class="flex items-center md:order-3 order-3 space-x-3 md:space-x-0 rtl:space-x-reverse"
    >
      <button
        type="button"
        class="flex text-sm bg-gray-800 rounded-full md:me-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
        id="user-menu-button"
        aria-expanded="false"
        data-dropdown-toggle="user-dropdown"
        data-dropdown-placement="bottom"
      >
        <span class="sr-only">Open user menu</span>
        <img
          (click)="getUserProfile()"
          class="w-12 h-12 rounded-full"
          style="background: #fff"
          alt="user photo"
          src="https://cdn-icons-png.flaticon.com/512/9187/9187604.png"
        />
      </button>

      <!-- Dropdown menu -->
      <div
        class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600"
        id="user-dropdown"
      >
        <div class="px-4 py-3">
          <span class="block text-sm text-gray-900 dark:text-white">{{
            userResponse?.full_name
          }}</span>
          <span
            class="block text-sm text-gray-500 truncate dark:text-gray-400"
          ></span>
        </div>
        <ul class="py-2" aria-labelledby="user-menu-button">
          <li>
            <a
              (click)="handleItemClick(0)"
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
              >Account</a
            >
          </li>
          <li>
            <a
              (click)="handleItemClick(1)"
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
              >Orders</a
            >
          </li>

          <li>
            <a
              (click)="handleItemClick(2)"
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
              >Sign out</a
            >
          </li>
        </ul>
      </div>
      <button
        data-collapse-toggle="navbar-user"
        type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        aria-controls="navbar-user"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"
          />
        </svg>
      </button>
    </div>
    <div
      class="items-center justify-between md:flex md:w-auto md:order-2 order-2"
    >
      <ul class="flex items-center gap-6">
        <li>
          <a
            routerLink="/product-favorite"
            class="block py-2 px-3 rounded"
            aria-current="page"
            ><i class="fa-solid fa-heart fa-lg" style="color: #e92b16"></i
          ></a>
        </li>
        <li>
          <a
            routerLink="/cart"
            class="flex items-center gap-3 py-2 px-3 rounde md:bg-transparent"
            aria-current="page"
            ><svg
              class="svg-ico-cart"
              enable-background="new 0 0 512 512"
              height="40"
              viewBox="0 0 512 512"
              width="30"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g>
                <path
                  d="m472 452c0 11.046-8.954 20-20 20h-20v20c0 11.046-8.954 20-20 20s-20-8.954-20-20v-20h-20c-11.046 0-20-8.954-20-20s8.954-20 20-20h20v-20c0-11.046 8.954-20 20-20s20 8.954 20 20v20h20c11.046 0 20 8.954 20 20zm0-312v192c0 11.046-8.954 20-20 20s-20-8.954-20-20v-172h-40v60c0 11.046-8.954 20-20 20s-20-8.954-20-20v-60h-192v60c0 11.046-8.954 20-20 20s-20-8.954-20-20v-60h-40v312h212c11.046 0 20 8.954 20 20s-8.954 20-20 20h-232c-11.046 0-20-8.954-20-20v-352c0-11.046 8.954-20 20-20h60.946c7.945-67.477 65.477-120 135.054-120s127.109 52.523 135.054 120h60.946c11.046 0 20 8.954 20 20zm-121.341-20c-7.64-45.345-47.176-80-94.659-80s-87.019 34.655-94.659 80z"
                ></path>
              </g>
            </svg>
            <div>Cart</div>
          </a>
        </li>
      </ul>
    </div>
    <div
      class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
      id="navbar-user"
    >
      <ul
        class="flex items-center flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
      >
        <li>
          <a
            (click)="navigateItem('Home')"
            routerLink="/"
            class="itemNav block mr-5 py-2 px-5 text-gray-900 bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500"
            aria-current="page"
            >Home</a
          >
        </li>
        <li class="p-2">
          <a
            (click)="navigateItem('Shop')"
            routerLink="/products"
            class="itemNav block mr-5 py-2 px-5 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
            >Shop</a
          >
        </li>
        <li>
          <div class="relative border w-full rounded-lg">
            <input
              type="search"
              id="search-dropdown"
              [(ngModel)]="keyword"
              name="keyword"
              class="w-96 block p-2.5 z-20 text-sm text-gray-900 bg-gray-50 rounded-lg border-s-gray-50 border-s-2 border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-s-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500"
              placeholder="Search product..."
              required
            />
            <button
              type="submit"
              (click)="searchProduct(keyword)"
              class="absolute top-0 end-0 p-2.5 text-sm font-medium h-full text-white bg-blue-700 rounded-e-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            >
              <svg
                class="w-4 h-4"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 20 20"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
                />
              </svg>
              <span class="sr-only">Search</span>
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="max-w-screen-xl flex flex-wrap items-center mx-auto p-3">
    <ul class="flex flex-wrap max-w-screen-xl gap-12">
      <li
        (mouseenter)="hoverItemMenu(1, true)"
        (mouseleave)="hoverItemMenu(1, false)"
        class="p-2 item-menu_1 relative"
      >
        <a class="mr-2" href="">Sản phẩm</a>
        <i
          class="animation"
          [class]="
            isHovered1 ? 'fa-solid fa-angle-up ' : 'fa-solid fa-angle-down'
          "
        ></i>
        <div
          class="menu2 rounded-sm w-48 z-50 absolute bg-white mt-2 border-gray-900"
        >
          <ul class="rounded-sm">
            <li
              class="item-menu_2 relative p-3 border-b-2 flex justify-between items-center"
            >
              <a href="">Phòng Ngủ</a><i class="fa-solid fa-angle-right"> </i>
              <div class="bg-white absolute left-full top-0">
                <ul class="menu3">
                  <li
                    class="p-3 border border-b-2 flex justify-between items-center"
                  >
                    <a (click)="filterCategory('Tủ Quần Áo')">Tủ Quần Áo</a>
                  </li>
                  <li
                    class="p-3 border border-b-2 flex justify-between items-center"
                  >
                    <a
                      href=""
                      (click)="filterCategory('Giường Ngủ')"
                      routerLink="/products"
                      >Giường Ngủ</a
                    >
                  </li>
                  <li
                    class="p-3 border border-b-2 flex justify-between items-center"
                  >
                    <a (click)="filterCategory('Tủ Đầu Giường')"
                      >Tủ Đầu Giường</a
                    >
                  </li>
                  <li
                    class="p-3 border border-b-2 flex justify-between items-center"
                  >
                    <a href="">Bàn Trang Điểm</a>
                  </li>
                </ul>
              </div>
            </li>
            <li
              class="item-menu_2 relative p-3 border-b-2 flex justify-between items-center"
            >
              <a href="">Phòng khách</a><i class="fa-solid fa-angle-right"></i>
              <div class="bg-white absolute left-full top-0">
                <ul class="menu3">
                  <li
                    class="p-3 border border-b-2 flex justify-between items-center"
                  >
                    <a (click)="filterCategory('Ghế Sofa')">Ghế Sofa</a>
                  </li>
                  <li
                    class="p-3 border border-b-2 flex justify-between items-center"
                  >
                    <a (click)="filterCategory('Bàn Sofa - Bàn Trà')"
                      >Bàn Sofa - Bàn Trà</a
                    >
                  </li>
                  <li
                    class="p-3 border border-b-2 flex justify-between items-center"
                  >
                    <a href="">Tủ kệ Tivi</a>
                  </li>
                  <li
                    class="p-3 border border-b-2 flex justify-between items-center"
                  >
                    <a href="">Tủ giày - Tủ trang trí</a>
                  </li>
                </ul>
              </div>
            </li>

            <li
              class="item-menu_2 relative p-3 border-b-2 flex justify-between items-center"
            >
              <a href="">Phòng ăn</a><i class="fa-solid fa-angle-right"></i>
              <div class="bg-white absolute left-full top-0">
                <ul class="menu3">
                  <li
                    class="p-3 border border-b-2 flex justify-between items-center"
                  >
                    <a href="">Bàn ăn</a>
                  </li>
                  <li
                    class="p-3 border border-b-2 flex justify-between items-center"
                  >
                    <a href="">Ghế ăn</a>
                  </li>
                  <li
                    class="p-3 border border-b-2 flex justify-between items-center"
                  >
                    <a (click)="filterCategory('Bộ Bàn Ăn')">Bộ Bàn Ăn</a>
                  </li>
                </ul>
              </div>
            </li>
            <li
              class="item-menu_2 relative p-3 border-b-2 flex justify-between items-center"
            >
              <a href="">Phòng làm việc</a
              ><i class="fa-solid fa-angle-right"></i>
              <div class="bg-white absolute left-full top-0">
                <ul class="menu3">
                  <li
                    class="p-3 border border-b-2 flex justify-between items-center"
                  >
                    <a (click)="filterCategory('Bàn Làm Việc')">Bàn Làm Việc</a>
                  </li>
                  <li
                    class="p-3 border border-b-2 flex justify-between items-center"
                  >
                    <a (click)="filterCategory('Ghế Văn Phòng')"
                      >Ghế Văn Phòng</a
                    >
                  </li>
                  <li
                    class="p-3 border border-b-2 flex justify-between items-center"
                  >
                    <a (click)="filterCategory('Kệ gỗ')">Tủ kệ</a>
                  </li>
                </ul>
              </div>
            </li>
            <li
              class="item-menu_2 relative p-3 border-b-2 flex justify-between items-center"
            >
              <a href="">Nệm</a><i class="fa-solid fa-angle-right"></i>
              <div class="bg-white absolute left-full top-0">
                <ul class="menu3">
                  <li
                    class="p-3 border border-b-2 flex justify-between items-center"
                  >
                    <a (click)="filterCategory('Nệm Foam')">Nệm Foam</a>
                  </li>
                  <li
                    class="p-3 border border-b-2 flex justify-between items-center"
                  >
                    <a (click)="filterCategory('Nệm lò xo')">Nệm lò xo</a>
                  </li>
                  <li
                    class="p-3 border border-b-2 flex justify-between items-center"
                  >
                    <a (click)="filterCategory('Nệm cao su')">Nệm cao su</a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </li>
      <li
        (mouseenter)="hoverItemMenu(2, true)"
        (mouseleave)="hoverItemMenu(2, false)"
        class="p-2 item-menu_1 relative"
      >
        <a class="mr-2" href="">BST Âu Mỹ</a>
        <i
          class="animation"
          [class]="
            isHovered2 ? 'fa-solid fa-angle-up ' : 'fa-solid fa-angle-down'
          "
        ></i>
        <div
          class="menu2 rounded-sm w-48 z-50 absolute bg-white mt-2 border-gray-900"
        >
          <ul class="rounded-sm">
            <li
              class="item-menu_2 relative p-3 border-b-2 flex justify-between items-center"
            >
              <a href="">NAVIK COLLECTION</a>
            </li>
            <li
              class="item-menu_2 relative p-3 border-b-2 flex justify-between items-center"
            >
              <a href="">CHIPPO COLLECTION</a>
            </li>
            <li
              class="item-menu_2 relative p-3 border-b-2 flex justify-between items-center"
            >
              <a href="">HTH COLLECTION</a>
            </li>

            <li
              class="item-menu_2 relative p-3 border-b-2 flex justify-between items-center"
            >
              <a href="">KOSTER COLLECTION</a>
            </li>
            <li
              class="item-menu_2 relative p-3 border-b-2 flex justify-between items-center"
            >
              <a href="">KOALA COLLECTION</a>
            </li>
          </ul>
        </div>
      </li>
      <li
        (mouseenter)="hoverItemMenu(3, true)"
        (mouseleave)="hoverItemMenu(3, false)"
        class="p-2 item-menu_1"
      >
        <a class="mr-2" href="">Tủ bếp</a>
        <i
          [class]="
            isHovered3 ? 'fa-solid fa-angle-up' : 'fa-solid fa-angle-down'
          "
        ></i>
        <div
          class="menu2 rounded-sm w-48 z-50 absolute bg-white mt-2 border-gray-900"
        >
          <ul class="rounded-sm">
            <li
              class="item-menu_2 relative p-3 border-b-2 flex justify-between items-center"
            >
              <a href="">CHIPPO KITCHEN</a>
            </li>
          </ul>
        </div>
      </li>
      <li
        (mouseenter)="hoverItemMenu(4, true)"
        (mouseleave)="hoverItemMenu(4, false)"
        class="p-2 item-menu_1"
      >
        <a class="mr-2" href="">Khuyến mãi</a>
        <i
          [class]="
            isHovered4 ? 'fa-solid fa-angle-up' : 'fa-solid fa-angle-down'
          "
        ></i>
        <div
          class="menu2 rounded-sm w-48 z-50 absolute bg-white mt-2 border-gray-900"
        >
          <ul class="rounded-sm">
            <li
              class="item-menu_2 relative p-3 border-b-2 flex justify-between items-center"
            >
              <a href="">[-49%] Ưu đãi mùa thu </a>
            </li>
            <li
              class="item-menu_2 relative p-3 border-b-2 flex justify-between items-center"
            >
              <a href="">[-48%] COMBO CHIPPO </a>
            </li>
            <li
              class="item-menu_2 relative p-3 border-b-2 flex justify-between items-center"
            >
              <a href="">[New] Tủ bếp 2024 </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</nav>
